#profile-photo {
    border-radius: 50%;
}

.biography ul {
    list-style: none;
}

.portfolio-img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
}

.projects {
    padding-top: 1rem;
}

form {
    margin: 1rem 5rem;
}