#about-me {
    margin-top: 1%;
    margin-bottom: 1%;
}

#profile-photo {
    border-radius: 50%;
}

#bio {
    margin-top: 2%;
}

.biography ul {
    list-style: none;
}

.projects {
    padding: 2% 0%;
}